* {
    margin: 0;
    padding: 0;
}
:root {
    --color1: rgb(0, 0, 0);
    --color2: #ffffff;
    --color3: #8400ff;
    --color4: #dfdfdf;
    --color5: rgb(211, 211, 211);
}    
body {
    font-family: 'Montserrat Medium', sans-serif;
    background-position: fixed;
    background: url(./assets/img/bg.jpg) center/cover no-repeat;
    height:540px ;
}

/* ----------------Bar-Nav----------------------- */

ul {  
    background: var(--color2);
    display: flex;
    height: auto;
    background:var(--color2);
    align-items: center;
    justify-content: space-evenly;
    margin: 0 0 5px;
    padding-top: 0;
}
li {
    font-size: 0.7rem;
    text-transform: uppercase;
    list-style: none;
    border-top: 5px solid var(--color2);
    padding: 15px;
}
.language {
    background-color: var(--color5);
    border-radius: 15px;
    padding: 5px 10px;
}
ul li:hover {
    cursor: pointer;
    padding-top: 15px;
    border-top: 5px solid var(--color3);
    transition: 0.2s ease-in-out;
}
.language:hover {
    color: var(--color2);
    background-color: var(--color3);
    border-radius: 15px;
    padding: 5px 10px;
}

/* -------------------Header-Campus----------------------/ */

.main-header{ 
    display: flex;
    text-transform: uppercase ;
    width: 100vw;
    height: 540px;
    color: var(--color2);
    flex-direction: column;
    align-items: center;
    
}
h1 {
    padding: 20px;
}
.btn-header {
    font-family: 'Montserrat thin' sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    background: transparent;
    color: var(--color2);
    margin: 20px auto;
    padding: 15px;
    border: 1px solid var(--color2);
}
.btn-header:hover{
    cursor: pointer;   
    background: var(--color2);
    color: var(--color3);
    margin: 20px auto;
    padding: 15px;
    border: 1px solid var(--color2);
}

/* ---------------------Header-Slogan--------------------- */

.header-text {
    
    display: flex;
    height: 100px;
    width: 100vw;
    background: var(--color2);
    justify-content: center;
    align-items: center;
    text-align: center;
}
.header p{
    display: block;
    text-align: center;   
}

/* ----------------------Body-black------------------------ */

.icon-part {
    background-color: var(--color1);
}
.icon-part-container {
    background-color: var(--color1);
    display: flex;
    padding: 20px;
}
.list-icon-part {
    display: flex;
    color: var(--color2);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.lip-logo {
    display:block;
    margin: 30px auto 30px ;
}
h3 {
    display: block;
    margin: 15px auto;
}
.p-black {
    margin: 0 80px;
    padding: auto;
}
.btn-icon {
    text-transform: uppercase;
    letter-spacing: 3px;
    background: transparent;
    color: var(--color2);
    border: 1px solid var(--color2);
    margin: 25px;
    padding: 10px 20px;
}
.btn-icon:hover{
    cursor: pointer;   
    background: var(--color2);
    color: var(--color3);
    border: 1px solid var(--color2);
}

/* -------------------News-Campus------------------ */

.news-part {
    display: flex;
    flex-direction: column;
    background-color: var(--color4);
    padding: 0 auto;

}
.header-news {
    display: grid;
    grid-template-rows: 70% 30%;
    grid-template-areas: 
    "lp rp";
    padding: 80px ;
}
.left-part {
    display: block;
    grid-area: lp;  
}
h2 {
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 2px;
    padding: 5px;
}
p {
    font-size: 0.8rem;
    font-weight: bolder;
}
.right-part {
    grid-area: rp;
}
.btn-news {
    text-transform: uppercase;
    letter-spacing: 3px;
    background: transparent;
    color: var(--color1);
    padding: 15px;
    border: 1px solid var(--color1); 
}
.btn-news:hover{
    cursor: pointer;   
    color: var(--color3);
    border: 1px solid var(--color3);
    border-radius: 5px;
}

/* ------------------Main-News------------- */

.main-news {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-around;
    padding: 0 80px;
    margin: 0 80px; 
}
.main-news-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height:auto;
    padding: 0 80px;
    
}
.news {
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    padding: 0 40px;
}
.mn-pic {
    display: flex;
    color: var(--color2);
    justify-content: flex-start;
}
h4 {
    display: block;
    width: 255px;
    margin: 5px auto 10px 0;
}
.p-news {
    display: block;
    width: 255px;
    padding: 30px auto ;
    margin: 15px auto 50px;
}
.link a{
    text-decoration: none;
    color: var(--color3);
    font-weight: bolder; 
    padding-bottom: 0;
    position: absolute; 
    bottom: 20px;
}

/* ---------------Section-Contacts------------ */
    
.contact {
    display: block;
    justify-content: space-around;
}
.contact-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    align-items: center;
}
.contact-list {
    display: flex;
    flex-direction: row;
}
.list {
    display: flex;
    flex-direction: column;
    width: 200px;
    justify-content: space-between;
    padding: 30px 25px;
    margin: 30px 0;
}
.list h5 {
    font-size: 1.5rem;
}
.list li {
    padding: 5px;
}
.infos-p {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width:  255px;
    padding: 20px auto 20px 0;
  }
  hr {
    width: 80%;
    margin: auto;
  }

.contact-medias {
    display: grid;
    grid-template-columns: 30% 70%;
    margin: 0 auto 0 70px;

}
.medias-text {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: space-evenly;
}
.medias-text h3{
    justify-content: flex-start;
    margin: 0 0;
    padding: 0;
}
.medias-logos {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
    

}
.img {
    padding: 20px 10px;
}

/* --------------------Footer---------------------- */

footer {
    background: #000;
    color: var(--color2);
    height: auto;
    width:100vw;
    margin: auto;
}
h3 {
    display: flex;
    justify-content: center;
    padding: 20px;
    text-transform: uppercase;
}
.ul-footer  {
    display: flex;
    align-items: flex-start;
    background: #000;
    width: 100vw;
    margin: auto;
   }
.li-f {
    width: 70%vw;
    border-top: 0 solid ;
}

/* ---------------------media-queries------------------- */

@media screen and (max-width: 950px){
    .icon-part-container {
        flex-direction: column;
    }
    .main-news-container {
        flex-direction: column;  
    }
    .contact-list {
        flex-direction: column;
    }
    .contact-container {
        flex-direction: column;
    }
    .contact-medias {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .medias-logos {
        flex-direction: column;
        align-items: center;
    }
    .ul-footer {
        flex-direction: column;
        align-items: center;
    }
}
    
